<div id="post" class="post">
  <div class="post-inner">
    <div class="content">
      <div class="content-wrap">
        <div class="posts">
          <div class="posts-head">
            <h1 class="posts-head-title"><a>{{ post.title }}</a></h1>
            <div class="posts-head-meta">
              <span class="posts-head-meta-date">{{ post.author }} 发表于<span>{{ post.date }}</span></span>
              <span class="posts-head-meta-category">分类于<a [href]="'#/home/categories?id='+post.category.id+'&cname='+post.category.name">{{ post.category.name }}</a></span>
              <span class="posts-head-meta-tag">标签<a *ngFor="let tag of post.tags">{{ tag.name }}</a></span>
              <span class="posts-head-meta-read"><span>{{ post.reading }}</span>次阅读</span>
            </div>
          </div>
          <div class="posts-body">
            <div class="easy-markdown" id="markdown-view" #view>
              <!-- <textarea id="mardown-textarea" [innerHTML]="post.content"></textarea> -->
            </div>
            <div class="posts-body-more">
              <a class="btn-a pre-post" *ngIf="neighbors.prevPost.title" (click)="switchPost(neighbors.prevPost.id)">&lt;&lt;&nbsp;{{ neighbors.prevPost.title }}</a>
              <a class="btn-a next-post" *ngIf="neighbors.nextPost.title" (click)="switchPost(neighbors.nextPost.id)">{{ neighbors.nextPost.title }}&nbsp;&gt;&gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
