<div class="header-inner">
  <div class="logo">
    <div class="logo-inner">
      <a routerLink="/home">Blog</a>
    </div>
  </div>
  <ul class="main-nav">
    <li class="main-nav-item main-nav-home"><a routerLink="/home">首页</a></li>
    <li class="main-nav-item main-nav-categories"><a routerLink="/categories">分类</a></li>
    <li class="main-nav-item main-nav-archives"><a routerLink="/archives">归档</a></li>
    <li class="main-nav-item main-nav-tags"><a routerLink="/tags">标签</a></li>
    <li class="main-nav-item main-nav-about"><a routerLink="/about">关于</a></li>
    <li class="main-nav-item main-nav-search"><a>搜索</a></li>
  </ul>
</div>
