<div id="about" class="about">
  <div class="about-inner">
    <h2 class="aboutme-title">关于我</h2>
    <p class="aboutme-content">
      全栈开发者、产品经理、全栈培训讲师
      <br>
      打字很快，小学三年级打字比赛中获得一等奖
      <br>
      经营一家培训机构，有需要请联系我
      <br>
      I am a Full Stack Developer.
      <br>
      I was born in 1991 &amp; &nbsp;I took my interest in programming since my childhood.
      <br>
      The world of programming is like Harry Potter's magic world.
      <br>
      Contact me by click <a href="mailto:340349237@qq.com">340349237@qq.com</a>

    </p>
    <h2 class="aboutblog-title">关于本站</h2>
    <p class="aboutblog-content">
      本站作品采用
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank">[知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议]</a>
      进行许可。
      <br>
      除特别说明外，文章皆为原创，转载无须授权，注明出处即可。
      <br>
      博客基于nodejs+express+angular+mongodb构建，源码托管在<a href="https://github.com/mecoepcoo/tzBlog" target="_blank">https://github.com/mecoepcoo/tzBlog</a>
    </p>
    <h2 class="todo-title">TODO</h2>
    <p class="todo-content">
      出版属于自己的书
    </p>
    <h2 class="thanks-title">致谢</h2>
    <p class="thanks-content">
      感谢 ezlippi <a href="http://www.ezlippi.com/" target="_blank">http://www.ezlippi.com</a> 为本站提供的ui设计思路.
    </p>

  </div>
</div>
