<div nz-row class="form-item">
  <div nz-col [nzSpan]="1" class="form-item-label label-left">
    <label>标题：</label>
  </div>
  <div nz-col [nzSpan]="11">
    <nz-input [nzSize]="'large'" [(ngModel)]="editPost.title" [nzPlaceHolder]="'请输入标题'" required spellcheck="false" #title="ngModel" [ngClass]="{'input-error': title.dirty&&title.errors}"></nz-input>
    <div class="form-item-invalid" *ngIf="title.dirty&&title.errors">请填写正确格式的标题，标题不能含有特殊字符</div>
  </div>
</div>
<div nz-row class="form-item">
  <div nz-col [nzSpan]="1" class="form-item-label label-left">
    <label>摘要：</label>
  </div>
  <div nz-col [nzSpan]="11">
    <nz-input [nzSize]="'large'" [(ngModel)]="editPost.summary" [nzPlaceHolder]="'请输入标题'" required spellcheck="false" #summary="ngModel"
      [ngClass]="{'input-error': summary.dirty&&summary.errors}"></nz-input>
    <div class="form-item-invalid" *ngIf="summary.dirty&&summary.errors">请填写摘要</div>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="20">
    <div id="md" appEditorMd [editormdConfig]="conf" (editorChange)="syncModel($event)">
      <textarea style="display: block;" [(ngModel)]="editPost.content"></textarea>
    </div>
  </div>
  <div nz-col [nzSpan]="4">
    <div nz-row class="form-item">
      <div nz-col class="form-item-label label-left">
        <label>作者：</label>
      </div>
      <div nz-col>
        <nz-input  [nzSize]="'large'" [(ngModel)]="editPost.author" [nzPlaceHolder]="'请输入作者'" required spellcheck="false" [ngClass]="{'input-error': author.dirty&&author.errors}" #author="ngModel"></nz-input>
        <div class="form-item-invalid" *ngIf="author.dirty&&author.errors">请填写作者</div>
      </div>
    </div>
    <div nz-row class="form-item">
      <div nz-col class="form-item-label label-left">
        <label>分类：</label>
      </div>
      <div nz-col>
        <nz-select style="width: 100%;" [(ngModel)]="editPost._category" [nzPlaceHolder]="'请选择分类'">
          <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row class="form-item">
      <div nz-col class="form-item-label label-left">
        <label>标签：</label>
      </div>
      <div nz-col>
        <nz-select style="width: 100%;" nzTags [nzPlaceHolder]="'至少选择一个标签'" [(ngModel)]="editPost._tags" [nzNotFoundContent]="'标签载入异常'" nzShowSearch required #tag="ngModel">
          <nz-option *ngFor="let tag of tags" [nzLabel]="tag.name" [nzValue]="tag.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row class="form-item">
      <div nz-col class="form-item-label label-left">
        <label>排序：</label>
      </div>
      <div nz-col>
        <nz-input-number style="width: 100%;" [(ngModel)]="editPost.order" [nzMin]="0" [nzStep]="1" nzSize="large" [ngClass]="{'input-error': author.dirty&&author.errors}" #order="ngModel" required></nz-input-number>
        <div class="form-item-invalid" *ngIf="order.dirty&&order.errors">请正确填写排序</div>
      </div>
    </div>
    <div nz-row class="form-item">
      <div nz-col class="form-item-label label-left" [nzSpan]="24">
        <label>时间：</label>
      </div>
      <div nz-col [nzSpan]="24">
<nz-datepicker style="width: 100%;" [(ngModel)]="editPost.date" [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY-MM-DD'" nzAllowClear="false"></nz-datepicker>

      </div>
    </div>
    <div nz-row class="form-item">
      <button nz-button style="width: 100%;margin-top: 10px;" [nzType]="'primary'" [disabled]="title.errors||author.errors||order.errors||tag.errors" (click)="submitPost()" [nzLoading]="_submitLoading">
        <span>提交</span>
      </button>
    </div>
  </div>
</div>
